<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configaration PUBLIC
"-//Hibernate/Hibernate Mapping DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configaration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">
		org.hibernate.dialect.mySQLDialect
		</property>
		<property name="hibernate.connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		<property name="hibernate.connection.url">
			jdbc:mysql://localhost:3306/lesson
		</property>
		<property name="hibernate.connection.username">
			root
		</property>
		<property name="hibernate.connection.password">
			password
		</property>
		
		<mapping resource="book.hbm.xml" />
		<mapping resource="author.hbm.xml" />
		<mapping resource="book_authors.hbm.xml" />
	</session-factory>
</hibernate-configuration>