<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:context="http://www.springframework.org/schema/context"
   xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config />
	
	<context:component-scan base-package="org.mzherdev" />

	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" >
		<property name="url" value="jdbc:mysql://localhost:3306/db" />
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>
	
	<bean id="simpleJdbcDaoImpl" class="org.mzherdev.dao.SimpleJdbcDaoImpl">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<bean id="sessionFactory"
	class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="org.mzherdev.model" />
		<property name="hibernateProperties">
			<props>
				<prop key="dialect">org.hibernate.dialect.MySQLDialect</prop>
			</props>
		</property>
	</bean>
		
</beans>